<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stack Overflow Clone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body style="overflow-x:hidden;font-family: 'Roboto Slab', serif;border-top:4px solid #F48024;">
    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-sm bg-light" id="navbar_top" style="box-shadow: 0 2px 5px #BBC0C4">


        <a class="navbar-brand" href="/">
            <img src="https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg" alt="logo" width="400" height="28" class="d-inline-block align-text-top">
        </a>
        <a class="nav-link" style="position:absolute;right:1100px;" href="#">About</a>
        <form class="d-flex" role="search" style="position:absolute;right:700px;" method="post" action="/search">
            <input class="form-control me-2" type="search" name="searchkeyword" placeholder="Search..." aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <form class="d-flex" role="login" style="position:absolute;right:50px;">
            <% if(session.user_id && session.userType=='user'){ %>
                <input type="text" style="border:none;color:rgb(10, 112, 246);text-align:center;font-weight:bold" name="username" id="" value="Welcome, User!" readonly>&nbsp;&nbsp;
                <a href="/logout" class="btn btn-primary">Logout</a>
                <% } else if(session.user_id && session.userType=='admin') { %>
                    <input type="text" style="border:none;color:rgb(10, 112, 246);text-align:center;font-weight:bold" name="username" id="" value="Welcome, Admin!" readonly>&nbsp;&nbsp;
                    <a href="/logout" class="btn btn-primary">Logout</a>
                    <% } else { %>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal" style="margin-right:10px;">
                                Login
                                </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">
                       Sign up
                      </button>
                        <% } %>
        </form>

    </nav>



    <!-- Login  Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute;right:10px;top:5px;"></button>

                <img src="https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg" alt="logo " width="200 " height="160px " style="position:relative;left:150px;top:20px; " class="d-inline-block align-text-top " />
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">User Login </h5>

                </div>
                <form action="/login" method="post">
                    <div class="modal-body">
                        <div class="mb-3 row ">

                            <div class="dropdown" style="margin:20px 5px;">
                                <select class="form-select" id="usertype" name="utype" aria-label="ChooseUser">
                                    <option selected>--Choose a User--</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                  </select>
                            </div>


                            <label for="Email " class="col-sm-2 col-form-label ">User ID</label>
                            <div class="col-sm-10 ">
                                <input type="email" class="form-control " id="LoginEmail" name="username" placeholder="abc@example.com" required>
                            </div>
                        </div>
                        <div class="mb-3 row ">
                            <label for="inputPassword" class="col-sm-2 col-form-label ">Password</label>
                            <div class="col-sm-10 ">
                                <input type="password" name="password" class="form-control " id="inputPassword" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <a href="/forgetpass">Forget Password</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="Submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Signup Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute;right:10px;top:5px;"></button>

                <img src="https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg" alt="logo " width="200 " height="160px " style="position:relative;left:150px;top:20px; " class="d-inline-block align-text-top " />
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">User SignUp </h5>

                </div>
                <form action="/create" method="post">
                    <div class="modal-body">

                        <div class="mb-3 row ">
                            <label for="Email " class="col-sm-2 col-form-label ">Email ID</label>
                            <div class="col-sm-10 ">
                                <input type="email" class="form-control" name="EmailID" id="Email" placeholder="abc@example.com" required>
                            </div>
                        </div>
                        <div class="mb-3 row ">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10 ">
                                <input type="password" name="Password" placeholder="password" class="form-control" id="inputPasswordSignup" required>
                            </div>
                        </div>
                        <!-- Confirm Password Added -->
                        <div class="mb-3 row ">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                            <div class="col-sm-10 ">
                                <input type="password" name="CPassword" placeholder="confirm password" class="form-control" id="inputConfirmPassword" required onkeyup="validate_password()">
                            </div>
                        </div>
                    </div>
                    <span id="wrong_pass_alert"></span>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="Submit" id="create" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Offcanvas Side navbar  -->
    <div class="container ">
        <button class="btn btn-primary d-lg-none " style="margin-top:15px;margin-left:10px " type="button " data-bs-toggle="offcanvas " data-bs-target="#offcanvasResponsive " aria-controls="offcanvasResponsive "><i class="material-icons " style="font-size:48px;color:white ">menu</i></button>


        <div class="container main-content" style="display:flex;">
            <div>
                <img src="images/undraw_connected_world_wuay.svg" alt="Connected World" width="450px" height="500px">
            </div>
            <div>
                <section style="padding:80px 190px">
                    <article>
                        <p style="color:#838C95;font-size:19px">Who we are</p>
                    </article>
                    <article>
                        <p style="color:#232629;font-size:43px">Empowering the world to develop technology through collective knowledge.</p>

                    </article>
                    <article>
                        <p style="color:#525960;font-size:19px">Our public platform <b>serves 100 million people every month</b>, making it one of the most popular websites in the world.</p>
                    </article>
                    <article>
                        <p style="color:#525960;font-size:19px">Our asynchronous knowledge management and collaboration offering, <b>Stack Overflow for Teams</b>, is transforming how people work.</p>
                    </article>
                </section>

            </div>
        </div>
    </div>
    <footer class="bg-dark text-center text-white" style="padding:20px 60px;">
        <div class="p-wrapper bar0 mx-auto pt48 pb64 sm:pt32 sm:pb0 fs-body2 overflow-hidden print:d-none">
            <div class="d-flex sm:fd-column">
                <div class="flex--item3 sm:mb32" style="padding-left:100px;padding-top:20px;">
                    <svg aria-hidden="true" width="40" height="40" class="native svg-icon iconLogoGlyphMd">
                        <path d="M26 33v-9h4v13H0V24h4v9h22z" fill="#BCBBBB"></path>
                        <path d="M21.5 0l-2.7 2 9.9 13.3 2.7-2L21.5 0zM26 18.4L13.3 7.8l2.1-2.5 12.7 10.6-2.1 2.5zM9.1 15.2l15 7 1.4-3-15-7-1.4 3zm14 10.79l.68-2.95-16.1-3.35L7 23l16.1 2.99zM23 30H7v-3h16v3z" fill="#F48024"></path>
                    </svg>
                </div>
                <div class="d-flex fl1 ff-row-wrap sm:mb32" style="padding-left:180px;text-align:left">
                    <div class="flex--item6" style="padding:20px 30px;">
                        <h3 class="tt-uppercase fs-body2 fc-black-200" style="color:#BABFC4">Stack Overflow</h3>
                        <a href="https://stackoverflow.co/" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">About</a>
                        <a href="https://stackoverflow.co/company/press" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Press</a>
                        <a href="https://stackoverflow.co/company/work-here" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Work Here</a>
                        <a href="https://stackoverflow.co/company/contact" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Contact Us</a>
                        <a href="https://stackoverflow.com/questions" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Questions</a>
                    </div>
                    <div class="flex--item6" style="padding:20px 40px;text-align:left">
                        <h3 class="tt-uppercase fs-body2 fc-black-200" style="color:#BABFC4;padding-left:0px;">Products</h3>
                        <a href="https://stackoverflow.co/teams" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Teams</a>
                        <a href="https://stackoverflow.co/advertising" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95"> Advertising</a>
                        <a href="https://stackoverflow.co/collectives" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Collectives</a>
                        <a href="https://stackoverflow.co/talent" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Talent</a>
                    </div>
                </div>
                <div class="d-flex fl1 ff-row-wrap sm:mb32">
                    <div class="flex--item6" style="padding:20px 40px;text-align:left">
                        <h3 class="tt-uppercase fs-body2 fc-black-200" style="color:#BABFC4;">Policies</h3>
                        <a href="https://stackoverflow.com/legal" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Legal</a>
                        <a href="https://stackoverflow.com/legal/privacy-policy" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Privacy Policy</a>
                        <a href="https://stackoverflow.com/legal/terms-of-service" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Terms of Service</a>
                        <span onclick="OneTrust.ToggleInfoDisplay()" class="fc-black-400 h:fc-black-200 py2 d-block c-pointer" style="text-decoration:none;color:#838C95">Cookie Settings</span>
                        <a href="https://stackoverflow.com/legal/cookie-policy" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Cookie Policy</a>
                    </div>
                    <div class="flex--item6" style="padding:20px 40px;text-align:left">
                        <h3 class="tt-uppercase fs-body2 fc-black-200" style="color:#BABFC4;">Channels</h3>
                        <a href="https://stackoverflow.blog/" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95"> Blog </a>
                        <a href="https://stackoverflow.blog/podcast" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Podcast</a>
                        <a href="https://stackoverflow.blog/newsletter" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Newsletter</a>
                        <a href="https://twitter.com/stackoverflow" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Twitter</a>
                        <a href="https://linkedin.com/company/stack-overflow" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">LinkedIn</a>
                        <a href="https://www.instagram.com/thestackoverflow/" class="fc-black-400 h:fc-black-200 py2 d-block" style="text-decoration:none;color:#838C95">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js " integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2 " crossorigin="anonymous "></script>

    <script>
        function validate_password() {

            var pass = document.getElementById('inputPasswordSignup').value;
            var confirm_pass = document.getElementById('inputConfirmPassword').value;
            if (pass != confirm_pass) {
                document.getElementById('wrong_pass_alert').style.color = 'red';
                document.getElementById('wrong_pass_alert').innerHTML = '☒ Use same password.Please enter same passwords.';
                document.getElementById('create').disabled = true;
                document.getElementById('create').style.opacity = (0.4);
            } else {
                document.getElementById('wrong_pass_alert').style.color = 'green';
                document.getElementById('wrong_pass_alert').innerHTML = '🗹 Password Matched';
                document.getElementById('create').disabled = false;
                document.getElementById('create').style.opacity = (1);
            }
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            window.addEventListener('scroll', function() {
                if (window.scrollY > 50) {
                    document.getElementById('navbar_top').classList.add('fixed-top');
                    // add padding top to show content behind navbar
                    navbar_height = document.querySelector('.navbar').offsetHeight;
                    document.body.style.paddingTop = navbar_height + 'px';
                } else {
                    document.getElementById('navbar_top').classList.remove('fixed-top');
                    // remove padding top from body
                    document.body.style.paddingTop = '0';
                }
            });
        });
    </script>
</body>

</html>